<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body class="justify-content-center">
    <p><strong>Bonjour <%= @teacher.name %> !</strong></p>
    <p>
      Votre affectation du jour est : <%= @teacher.assignments.last.school.name %>.<br>
    </p>
    <p>
      Adresse : <%= @teacher.assignments.last.school.address %>
    </p>
    <p>Message de la direction : <%= @teacher.assignments.last.teacher_message %> </p><br>

    <a href="<%= area_assignment_teacher_url(@teacher.assignments.last, @teacher, token: @teacher.assignments.last.token) %>">Voir le détail</a>

    <p>Bonne journée !</p>

  <p>Votre gestionnaire</p>
  </body>
</html>
