<div class="container prof-card">
  <div class="row">
    <div class="col-4">
      <h1>Assignation pour M./Mme <strong><%= @assignment.teacher.name %></strong></h1>
      <h4><%= @assignment.school.name %>
      <p><em><%= @assignment.school.address %></p></em>
      <p style="font-size:80%">Message de la direction : <%= @assignment.teacher_message %> </p>
    </div>
    <div class="col-8">
      <div style="width: 100%; height: 72vh;"
        data-controller="map"
        data-map-marker-value="<%= @marker.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
