<div class="container-fluid">
  <% homepage = area_schools_path() %>
  <%= link_to homepage, class: "navbar-brand" do %>
    <%= image_tag "GPLogoSansBack.png" %>
  <% end %>

  <div class="text-center mgnbtm">
  <h2><%= current_user.area.name %></h2>
  </div>


  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <% if user_signed_in? %>
          <div class="btn me-4">
          <%= button_to("Se déconnecter", destroy_user_session_path, method: :delete, class: "btn btn-primary") %>
        </div>
      <% else %>
        <div class="btn me-4">
          <%= link_to "S'identifier", new_user_session_path %>
        </div>
      <% end %>
    </ul>
  </div>
</div>
