<div class="container-fluid">
  <% homepage = new_schools_assignment_path(current_user.school) %>
  <%= link_to homepage, class: "navbar-brand" do %>
    <%= image_tag "GPLogo SansBack" %>
  <% end %>

  <div class="text-center">
  <h2><%= current_user.school.name %></h2>
  </div>


  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <% if user_signed_in? %>
          <div class="btn me-4">
          <%= link_to "Se déconnecter", destroy_user_session_path %>
        </div>
      <% else %>
        <div class="btn me-4">
          <%= link_to "Login", new_user_session_path %>
        </div>
      <% end %>
    </ul>
  </div>
</div>
