<div class="container" data-controller="hello">
  <h2 class="text-center">Demande de remplacement pour aujourd'hui</h2>

<div data-assignments-target="list">
   <%= render "form", assignment: @assignment %>
</div>
<%= link_to "add", data:{action:"click->assignments#append"}, class: "btn btn-success" %>


  <ul class="d-flex justify-content-evenly align-items-center">
    <li class="">
      <%= link_to "Statut", class: "btn btn-success" %>
    </li>
    <li class="">
      <%= link_to"Statistiques", class: "btn btn-success" %>
    </li>
    <li class="">
      <%= link_to "Historique", class: "btn btn-success" %>
    </li>
    <li class="">
      <%= link_to "Demande anticipée", class: "btn btn-success" %>
    </li>
  </ul>


</div>
