<div class="container" data-controller="assignments">
  <h2 class="text-center">Demande de remplacement pour aujourd'hui</h2>




  <%# <div data-assignments-target="list">
    <%= render "form", assignment: @assignment %>
  <%# </div> %>
  <%# <button data-action="click->assignments#append">ADD</button> %>

 <%= simple_form_for [:schools, @school], data: { controller: 'my-nested-form' } do |f| %>
    <%= render "schools/schools/assignment_form" %>
    <%= render "schools/schools/assignment_form" %>
    <!-- Inserted elements will be injected before that target. -->
  <div data-nested-form-target="target"></div>
  <button type="button" data-action="nested-form#add">Autre demande</button>
      <%# <div> %>
        <%= f.button :submit, "Valider", class:"btn btn-primary" %>
      <%# </div> %>
  <% end %>


  <ul class="d-flex justify-content-evenly align-items-center">
    <li class="">
      <%= link_to "Statut", class: "btn btn-success" %>
    </li>
    <li class="">
      <%= link_to"Statistiques", class: "btn btn-success" %>
    </li>
    <li class="">
      <%= link_to "Historique", class: "btn btn-success" %>
    </li>
    <li class="">
      <%= link_to "Demande anticipée", class: "btn btn-success" %>
    </li>
  </ul>
