<div class="container" data-controller="assignments">
  <h2 class="text-center">Demande de remplacement pour aujourd'hui</h2>




  <%# <div data-assignments-target="list">
    <%= render "form", assignment: @assignment %>
  <%# </div> %>
  <%# <button data-action="click->assignments#append">ADD</button> %>

 <%= simple_form_for [:schools, @school], data: { controller: 'my-nested-form' } do |f| %>
    <div data-my-nested-form-target="assId"><%= @school.assignments.map(&:id).compact.last.to_i + 2 %></div>
    <div class="card">
      <div class="row">
          <%= f.simple_fields_for :assignments do |a| %>
            <%# if (new && a.object.new_record?) || (new == false && a.object.new_record? == false)%>
            <% unless a.object.new_record? %>
              <div class="col">
                <%= a.input :teacher_message, label:"Message au remplaçant" %>
              </div>
              <div class="col">
                <%= a.input :area_message, label:"Message au gestionnaire" %>
              </div>
                <div class="col">
                <%= a.input :date, as: :date, as: :hidden, input_html: {value: Date.today} %>
              </div>
                <button type="button" data-action="nested-form#remove">Supprimer</button>

                <%= a.hidden_field :_destroy %>
            <% end %>
          <% end %>
      </div>
    </div>


    <% if @school.assignments.count.zero? %>
      <%= render "schools/schools/assignment_form", f: f %>
    <% end %>

<%#= render "schools/schools/assignment_form", f: f %>
<%#= render "schools/schools/assignment_form", f: f %>
  <div data-my-nested-form-target="list"></div>
    <button type="button" data-action="click->my-nested-form#add">Autre demande</button>
      <%# <div> %>
    <%= f.button :submit, "Valider", class:"btn btn-primary" %>
      <%# </div> %>
  <% end %>


  <ul class="d-flex justify-content-evenly align-items-center" id="bullet">
    <li class="">
      <%= link_to "Statut", class: "btn btn-success" %>
    </li>
    <li class="">
      <%= link_to"Statistiques", class: "btn btn-success" %>
    </li>
    <li class="">
      <%= link_to "Historique", class: "btn btn-success" %>
    </li>
    <li class="">
      <%= link_to "Demande anticipée", class: "btn btn-success" %>
    </li>
  </ul>
