<div class="container">
  <div>
  <%= render "algo" %>
  <%= render "searchbar" %>
  </div>
  <div>
  <table class="table table-striped table-hover text-center" data-toggle="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="bdr-tl-5"><%= link_to "Ecole", :sort => "name" %></th>
        <th scope="col"><%= link_to "Absences", :sort => "absences" %></th>
        <th scope="col"><%= link_to "Taux abs. initial", :sort => "initial_rate" %></th>
        <th scope="col"><%= link_to "Affectation", :sort => "assignments" %></th>
        <th scope="col"><%= link_to "Taux abs. actuel", :sort => "current_rate" %></th>
        <th scope="col" class="bdr-tr-5"></th>
      </tr>
    </thead>
    <tbody>
      <% @schools.each_with_index do |school|%>
      <tr>
        <th scope="row" class="text-start"><%= link_to school.name, area_school_path(school) %></th>
        <% absences = school.assignments.where(date: Date.today).count %>
        <td><%= absences %></td>
        <td><%= number_to_percentage(absences.fdiv(school.classes_number)*100, precision: 2) %></td>
        <% accept = school.assignments.where(date: Date.today, progress: 2).size %>
        <% non_accept = school.assignments.where(date: Date.today, progress: [1,3]).size %>
        <td>
          <% accept.times do %>
          <i class="fa-solid fa-user"></i>
          <% end %>
          <% non_accept.times do %>
          <i class="fa-regular fa-user"></i>
          <% end %>
        </td>
        <td><%= number_to_percentage(non_accept.fdiv(school.classes_number)*100, precision: 2) %></td>
        <td>
        <%= link_to area_school_path(school) do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
