<div class="container" data-controller="filter-dashboard">
  <div class="d-flex justify-content-around">
    <div class="d-inline">
      <div class="searcher">
        <% @parsed_schools = School.where(area: current_user.area).pluck(:name, :id).sort %>
        <%= form_tag(area_schools_path(@parsed_schools), method: :get, class: "form-inline") do %>
          <div class="form-search"  data-filter-dashboard-target="form" data-schools="<%= @parsed_schools.to_json %>", data-action = "keyup->filter-dashboard#searchIndex">
          <%= text_field_tag :name, nil, autocomplete: :off, class: "form-control search-input", placeholder: "Chercher une école...", data: {filter_dashboard_target: "input"}%>
          <%# <%= submit_tag "Recherche", class: "btn btn-primary button-home" %>
          </div>
        <% end %>
        <ul class="suggestions" data-filter-dashboard-target="suggestions">
        </ul>
      </div>
    </div>
    <div class="d-inline"><%= render "algo"%></div>
  </div>
  <br>
  <div>
    <%= render "table", schools: @schools %>
  </div>
</div>
