<div class="container" data-controller="filter-dashboard">
  <div class="d-flex justify-content-around">
    <div class="d-inline">
      <div class="searcher">
        <% @parsed_schools = School.where(area: current_user.area).pluck(:name, :id).sort %>
        <%= form_tag(area_schools_path(@parsed_schools), method: :get, class: "form-inline") do %>
          <div class="form-search"  data-filter-dashboard-target="form" data-schools="<%= @parsed_schools.to_json %>", data-action = "keyup->filter-dashboard#searchIndex">
          <%= text_field_tag :name, nil, autocomplete: :off, class: "form-control search-input", placeholder: "Cherchez une école...", data: {filter_dashboard_target: "input"}%>
          <%# <%= submit_tag "Recherche", class: "btn btn-primary button-home" %>
          </div>
        <% end %>
        <ul class="suggestions" data-filter-dashboard-target="suggestions">
        </ul>
      </div>
    </div>
    <div class="d-inline"><%= render "algo"%></div>
  </div>
  <br>
  <div>
  <table class="table table-striped table-hover text-center" data-toggle="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col" class="bdr-tl-5"><%= link_to "Ecole", :sort => "name" %></th>
        <th scope="col"><%= link_to "Absences", :sort => "absences" %></th>
        <th scope="col"><%= link_to "Taux abs. initial", :sort => "initial_rate" %></th>
        <th scope="col"><%= link_to "Affectation", :sort => "assignments" %></th>
        <th scope="col"><%= link_to "Taux abs. actuel", :sort => "current_rate" %></th>
        <th scope="col" class="bdr-tr-5"></th>
      </tr>
    </thead>
    <tbody data-filter-dashboard-target="table">
      <% @schools.each_with_index do |school|%>
      <%= render "table", school: school %>
      <% end %>
    </tbody>
  </table>
  </div>
</div>
