<div class="container school">
  <div class="d-flex justify-content-around">
    <div class="d-inline"><%= render "searchbar" %></div>
  </div>
  <div class="row justify-content-evenly">
    <h1 class="text-center my-5"><%= @school.name %></h1>
    <div class="col-5">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5>
              <b>Absences =>&nbsp;</b><%= @assignments_requests.size %>
            </h5>
          </li>
          <li class="list-group-item">
             <h5>
              <b>Taux d'absence initial =>&nbsp;</b>
              <span class="<%= to_percentage(@school, 'init') <= 10 ? 'text-green': to_percentage(@school,'init') > 10 && to_percentage(@school,'init') <= 20 ? 'text-orange': 'text-red' %>"><%= to_percentage(@school, 'init') %>%</span>
            </h5>
          </li>
          <li class="list-group-item">
            <h5>
              <b>Taux d'absence actuel =>&nbsp;</b>
                <span id="ratio"class="<%= to_percentage(@school) <= 10 ? 'text-green': to_percentage(@school) > 10 && to_percentage(@school) <= 20 ? 'text-orange': 'text-red' %>"><%= to_percentage(@school) %>%</span>
            </h5>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-5">
      <h3>Message du directeur</h3>
      <% if  @assignments_requests.size.positive?%>
          <p class="bg-light"><%= @assignments_requests.last.area_message%></p>
      <% end %>
    </div>
  </div>
  <div class="row text-center py-5">
    <div class="col-10 offset-1">
        <% if @assignments_requests.size.positive? %>
            <% @assignments_requests.each do |assignment| %>
            <div data-controller="fetch-assignments"
            data-action="submit->fetch-assignments#new_assignment"
            data-fetch-assignments-target="data"
            data-teachers-assigned="<%=@teachers_assigned.to_json%>"
            data-validated-assign="<%=@assignments_validated.to_json%>"
            data-schools-filled="<%=@schools_filled.to_json%>">
                <%= simple_form_for([:area, @school, assignment],
                wrapper: :horizontal_form,
                html: { data:{fetch_assignments_target:'form'}, class: "row row-cols-lg-auto justify-content-center py-2" },
                wrapper_mappings: {
                  boolean: :inline_boolean,
                  select: :horizontal_select
                }) do |f| %>
                  <%= f.association :teacher,label:'Enseignant',
                  label_html:{class:'font-weight-bold'},
                  collection: @school.area.teachers,
                  input_html:{default_value:assignment.teacher&.name,
                  class:"s-style",
                  data:{fetch_assignments_target:'teacher', action: 'change->fetch-assignments#styleForm'}}%>
                  <%= f.button :submit,'Réaffecter', class: "btn btn-primary h-100"%>
                <% end %>
            </div>
          <% end %>
        <% else %>
          <div class="bg-light border p-2">
            <h4>
              Aucun remplaçant n'a pu être affecté à cette école
            </h4>
          </div>
        <% end %>
        <%= link_to 'Tableau de bord', area_schools_path, class:"btn btn-primary mt-5" %>
  </div>
</div>
</div>
