<div class="container school">
  <div class="row justify-content-evenly">
    <h1 class="text-center my-5"><%= @school.name %></h1>
    <div class="col-5">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5>
              <b>Demandé =>&nbsp;</b><%= @assignments_requests.size %>
            </h5>
          </li>
          <li class="list-group-item">
             <h5>
              <b>Taux initial =>&nbsp;</b>
              <span class="<%= @initial_ratio <= 10 ? 'text-green': @initial_ratio > 10 && @initial_ratio <= 20 ? 'text-orange': 'text-red' %>"><%= @initial_ratio %>%</span>
            </h5>
          </li>
          <li class="list-group-item">
            <h5>
              <b>Taux actuel =>&nbsp;</b>
              <span class="<%= @new_ratio <= 10 ? 'text-green': @new_ratio > 10 && @new_ratio <= 20 ? 'text-orange': 'text-red' %>"><%= @new_ratio %>%</span>
            </h5>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-5">
      <h3>Message du directeur</h3>
      <p class="bg-light"><%= @assignments_requests.last.area_message%></p>
    </div>
  </div>
  <div class="row text-center py-5">
  <div class="col-10 offset-1">
      <% @assignments_confirmed.each do |assignment| %>
      <%= simple_form_for([:area, @school, assignment]) do |f| %>
      <%= f.input_field :name, collection: current_user.area.teachers, input_html:{default_value:assignment.teacher.name}%>
      <%= f.submit class:'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>
  </div>
</div>
