<div class="back-semi-opaque">
<div class="container school">
  <div class="d-flex justify-content-around">
    <div class="d-inline"><%= render "searchbar" %></div>
  </div>
  <div class="row justify-content-evenly">
    <h1 class="text-center my-5"><%= @school.name %></h1>
    <div class="col-5">
      <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5>
              <b>Absences =>&nbsp;</b><%= @assignments_requests.size %>
            </h5>
          </li>
          <li class="list-group-item">
             <h5>
              <b>Taux d'absence initial =>&nbsp;</b>
              <span class="<%=@school.rank(@school.init_ratio)%>"><%= to_percentage(@school, 'init') %>%</span>
            </h5>
          </li>
          <li class="list-group-item">
            <h5>
              <b>Taux d'absence actuel =>&nbsp;</b>
                <span id="ratio"class="<%=@school.rank(@school.ratio)%>"><%=to_percentage(@school) %>%</span>
            </h5>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-5">
      <h3>Message du directeur</h3>
      <% if  @assignments_requests.size.positive?%>
          <p class="bg-light"><%= @assignments_requests.last.area_message%></p>
      <% end %>
    </div>
  </div>
  <div class="row text-center py-5">
    <div class="col-10 offset-1">
        <% if @assignments_requests.size.positive? %>
            <%= render 'area/schools/message_status',
            assignments_requests:@assignments_requests,
            school_validated_assign: @school_validated_assign
             %>
            <%= render "area/schools/form_assignments",
            teachers_assigned: @teachers_assigned,
            assignments_validated: @assignments_validated,
            assignments_requests: @assignments_requests,
            schools_filled: @schools_filled,
            school: @school
            %>
        <% else %>
          <%= render 'area/schools/message_status',
            assignments_requests:@assignments_requests
          %>
        <% end %>
        <div data-controller="show-school-dashboard" >
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <button id="map" data-action="click->show-school-dashboard#switchTab" type="button" class="nav-link active tab">Carte des enseignants</button>
            </li>
            <li class="nav-item">
              <button id="charts" data-action="click->show-school-dashboard#switchTab" type="button" class="nav-link">Statistiques</>
            </li>
          </ul>
          <div data-show-school-dashboard-target='map'>
            <%= render 'area/schools/map_school_show', markers:@markers, marker_school: @marker_school %>
          </div>
          <div class="d-none" data-show-school-dashboard-target='charts'>
            <%= render 'area/schools/charts', school: @school %>
          </div>
        </div>
        <%= link_to 'Tableau de bord', area_schools_path, class:"btn btn-primary mt-5" %>
    </div>
  </div>
</div>
<%# <<<<<<< HEAD
=======
</div>
</div>
>>>>>>> 4bba913c735732ca929085ab6717d9f9f1554c93 %>
